<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h1>Питання {{ index }} з {{ total }}</h1>
        <p>{{ question.question }}</p>
        <form method="post">
            {% for option in question.options %}
            <label>
                <input type="radio" name="answer" value="{{ option }}" required>{{ option }}
            </label>
            {% endfor %}
            <button type="submit">Наступне питання</button>
        </form>
    </div>
</body>
</html>